/*comentário */
body {
    background-color: grey;
}

#google {
    border-radius: 20px;
    border-bottom: blue;
    border-width: 20px, 30px, 50px;
}
#instagram {
     border-radius: 20px;
    border-bottom: blue;
     border-width: 20px, 30px, 50px;
}